.movie-container {
    padding: 5px;
    width: 100%px;
    /* height: 420px; */
    background-color: var(--back-drop);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}

.movie-container .avatar {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
}

.movie-content {
    margin-top: 1rem;
}