#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--color);
  font-family: "Poppins", sans-serif;
}

header {
  padding: 2rem 8rem;
  width: 100%;
  background: url("/header-bg.jpg") 00px 700px;
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
  mix-blend-mode: lighten;  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

header .logo h1 {
  font-family: "Playwrite HR Lijeva";
  text-transform: capitalize;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu-item {
  padding: 1rem;
}

.menu-item .menu-link {
  color: var(--color);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.movies-container {
  padding: 7rem;
  
}

.movies-container > h1 {
  margin-bottom: 2rem;
}

.movies-container .movie-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.movie-link {
  color: var(--color);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  header {
    flex-direction: column;
  }
  header h1 {
    border-bottom: 1px var(--bg-primary) solid;
  }
  .movie-grid-container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 780px) {
  header {
    padding: 0.2rem 0.2rem !important;
  }
  .menu-container {
    width: 100% !important;
  }
  .menu-item {
    /* border-right: 1px #fff solid  ; */
    padding: 0.2rem;
  } 
  .menu-item .menu-link {
    font-size: .7rem;
  }

  .movies-container {
    padding: 12px;
  }
  .movie-grid-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .movies-container h1 {
    /* padding: 2px; */
    font-size: 1rem;
  }
}